@font-face {
  font-family: "neueMachina";
  src: url("/fonts/NeueMachina-Regular.otf");
}
@font-face {
  font-family: "neueMontreal";
  src: url("/fonts/NeueMontreal-Light.otf");
}
@font-face {
  font-family: "ppEiko";
  src: url("/fonts/PPEiko-Thin.otf");
}
